<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapports</title>
</head>

<body>

    <h1> Voici la Liste des rapports </h1>
    <input type="text" /> <button type="submit">Rechercher rapport</button> <br>

    <button><a href="/GSB-ANGULAR/src/app/rapports/creer-rapports/creer-rapports.component.html">Créer rapport</a></button>

    <button><a href="/GSB-ANGULAR/src/app/rapports/modifier-rapports/modifier-rapports.component.html">Modifier rapport</a></button>




</body>

</html>